{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Sign up for Flask-Login Application </h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="firstName" name="firstName" class="input-xlarge"
            placeholder="Enter First Name" value="{{ request.form.firstName }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="text" id="lastName" name="lastName" class="input-xlarge"
            placeholder="Enter Last Name" value="{{ request.form.lastName }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Enter Email" value="{{ request.form.email }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
{% endblock %}
